
/* Common Styles for PropertyElements */

/* Color Box */
input[type='color']{
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(0,0,0,0.2);
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }

input[type='color']::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
  }