html,
body,
#root,
.layout {
    height: 100%;
}

.logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 24px 16px 0;
    float: left;
}

.main{
    padding: 1.5rem;
    height: calc(100% - 3rem);
    overflow: hidden;
}

.main-content{
    background: #fff;
    padding: 2rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

h1.page-title{
    margin: 15px 0;
}


.ant-layout-footer{
    background: rgba(0,0,0,0.08);
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2);
    border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0,0,0,0.25);
    width:4px;
}